@import url("../../include/jscalendar/calendar-system.css");

/* calendar: */

.calendar .nav {
    background: #DDDDDD url("../../include/jscalendar/menuarrow.gif") no-repeat 100% 100%;
}

.calendar .combo {
    z-index: 99; 
}


/* new classes: */

div.mpform {
    background-color:#fff;
}

div.mpform p {
    padding:1px;
    margin:1px;
}

div.mpform p.help_txt {
    color:#600;
}

div.mpform fieldset {
    padding: 0px 6px 6px 6px;
    margin: 6px 0px 16px 0px;
    background-color: #f7f7f7;
    width: 610px;
}

/* IE7 specific: */
*:first-child+html div.mpform fieldset {
    padding: 6px 6px 6px 6px;
    margin: 22px 0px 24px 0px;
}

div.mpform legend {
    padding: 6px 6px 0px 6px;
    margin: 0px 0 20px 0;
    background-color: #f7f7f7;
    border-left: 1px solid #666;
    border-top: 1px  solid #666;
    border-right: 1px  solid #666;
    font-weight: bold;
}

/* IE7 specific: */
*:first-child+html div.mpform legend {
    padding: 2px 6px 0px 6px;
    margin: -22px 0 10px 0;
}


/* >>>>>>>> Layout without main table: */
div.mpform div.newline {
    clear: both;
    margin: 0;
    padding: 0;
    margin: 0px;
    border-width: 0px;
    height: 0px;
    width: 100%;
}

div.mpform div.questionbox {
    clear: left;
    float:left;
    width:180px;
    height:auto;
    padding: 4px;
    margin: 2px 0px 2px 2px;
    border-width: 0px;
    text-align: right;
}

div.mpform fieldset div.questionbox {
    clear: left;
    float:left;
    width: 172px;
    height:auto;
    padding: 4px;
    margin: 2px 0px 2px 2px;
    border-width: 0px;
    text-align: right;
}

div.mpform div.answerbox {
    float:left;
    width:420px;
    height:auto;
    padding: 4px;
    margin: 2px 2px 2px 0;
}

div.mpform fieldset div.answerbox {
    float:left;
    width: 412px;
    height:auto;
    padding: 4px;
    margin: 2px 2px 2px 0px;
    border: 0px;
}

div.mpform div.submitbox {
    clear: both;
    float: left;
    width: 602px;
    height: 26px;
    padding: 8px;
    margin: 2px;
    text-align: center;
}

div.mpform div.submitbox input {
    cursor: pointer;
    border: 2px solid #999;        
    color:#666;
    text-align: center;
    width: 200px;
    margin: 2px 2px 2px 180px;
}
/* <<<<<<<<< Layout without main table */

.mpform_title, 
.mpform_help {
    font-weight: normal;
    vertical-align: top;
    padding: 6px;
    background-color: #f7f7f7;
    text-align: left;
    color: black;
}

.mpform_error .mpform_title,
.mpform_error .mpform_field,
.captcha_err  .mpform_title,
.captcha_err  .mpform_field {
    color: red;
}

.mpform_field {
    width:460px;
    background-color:#eee;
    padding:6px;
}

.mpform_date, 
.mpform_email, 
.mpform_textarea, 
.mpform_text, 
.mpform_select {
    background-color:#F4F4f4;
}

.mpform_err_date, 
.mpform_err_email, 
.mpform_err_textarea,
.mpform_err_text, 
.mpform_err_radio, 
.mpform_err_select,
.captcha_err input {
    background-color:#F4A4A4; 
    border: 1px solid red;
}

div.mpform_missing {
    background-color: red; 
    border: 2px solid yellow;
    color: yellow;
    font-weight: bold;
    padding: 6px;
}

.mpform_textfield.mpform_readonly input.mpform_text {
    background-color: #ddd; 
}

/* old classes: */
.mpform_date:hover, 
.mpform_email:hover, 
.mpform_textarea:hover, 
.mpform_text:hover,
.mpform_radio:hover, 
.mpform_select:hover, 
.mpform_checkbox:hover, 
.mpform_err_date:hover,
.mpform_err_email:hover, 
.mpform_err_textarea:hover, 
.mpform_err_text:hover, 
.mpform_err_radio:hover,
.mpform_err_select:hover, 
.mpform_err_checkbox:hover {
    background-color: white;
} 

.mpform_date,
.mpform_err_date{
    width: 120px;
}

.mpform_date_img{
    cursor: pointer;
    border: 0;
    vertical-align: middle;
}        
.mpform_email,
.mpform_err_email {
    width:410px;
}

.mpform_text, 
.mpform_err_text {
    width:410px;
} 
.mpform_radio, 
.mpform_err_radio{
    width: 18px;
}
.mpform_checkbox, 
.mpform_err_checkbox{
    width: 24px;
}
.mpform_select, 
.mpform_err_select{
    width:410px;
}

.mpform_heading {
    width:98%;
    font-weight: bold;
    background-color: #777;
    color:#fff;
    padding: 5px;
}

.mpform_submit {
    cursor: pointer;
}
.mpform_submit:hover{
}

span.mpform_required {
    color:red;        
}

span.mpform_small {
    font-size:9px;
}


.captcha input {
    background-color:#F4F4F4;
    border: 1px solid #CCCCCC;        
}

.captcha .captcha_expl{
    font-weight:normal;
}

.mpform_a_img{
    border:0;        
}
.mpform_img_help{
    border:0;
    width:16px;
    height:16px; 
}

.mpform_help_box_td{
    border:1px solid #666666;
    padding:6px;
    background-color:#ffffff;
    color:#003366;
}

.mpform_help_box_div{
   background-color:#5587B1;
}

.mpform_help_box_hr {
    width:100%;
    margin: 5px 0 ;
    padding:0px;
}

h5.mpform_help_box_h5 {
    color:#fff;
    background-color:#5587B1; 
    font-size:1.0em;
    font-weight:bold;
    margin:0;
    padding:5px;
}

.mpform_help_box_h6 {
    color:#003366;
    background-color:#ccf;
    font-size:1.0em;
    font-weight:normal;
    margin:0;
    padding:4px;
}

div.mpform_results {
    background-color: #cfc;
    border: 2px solid #090;
    padding: 6px;
}


/*** Don't remove the class nixhier, this is required for ASP ***/
.mpform_hiddenfield,
.nixhier {
    display:none;
}

/*** Popup box for displaying the help text ***/
.HelpDiv {
    display: none; 
    position: fixed; 
    z-index: 99; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.HelpDiv-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*  deprecated definitions, only for forms created with mpform < 0.3.0
        mpform_td_help is now called mpform_help
*/        

.mpform_td_help{
    width: 16px;
    vertical-align: top;
}
                
                                                                                                                                                
